#container{
    display: flex;
    
}
#sidebar{
    flex: 2;
    text-align: center;
    padding: 5px;
}
#main{
    flex: 8;
    padding: 50px;
    border: 1px solid red;
}
#news{
    display: flex;
    justify-content: space-evenly;
    margin:10px auto;
    text-align: center;
    width: 80%;
    border: 2px solid black;
}

a{
    text-decoration: none;
    color: black;
}


#news > div{
    width: 30%;
}


img{
    width: 100%;
}